.container {
    width: 100%;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.start-container {}  
.result-container {}

#transformed-image-js {
    width: 300px !important;
    height: 300px !important;
}